.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    height: 100vh;  
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calendario {
    width: 65rem;
    height: 52rem;
    background-color: #222227;
    
}

.mes {
    width: 100%;
    height: 12rem;
    background-color: #ef233c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-shadow: 0 0.3rem .5rem rgba(0,0,0,0.5);
}

.mes i {
    font-size: 2.5rem;
    cursor: pointer;
}

.mes__abril {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
}

.semana {
    width: 100%;
    height: 5rem;
    padding: 0. 0.4rem;
    display: flex;
    align-items: center;

}

.semana div{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(67.2rem/7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dias {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}

.dias div {
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(59.2rem/7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dia__anterior {
    opacity: 0.2;
}

.dia__siguiente {
    opacity: 0.2;
}

.hoy{
    background-color: #ef233c;
}

.flecha {
    padding: 35px;
}